@font-face {
    font-family: "Punchout";
    src: url(../images/punch-out!!_nes.ttf) format("truetype");
}

body {
	font-family: "Punchout", Verdana, Tahoma;
	color: #FFFFFF;
	background: #000000;
	margin-bottom: 60px;
}

h1 {
	font-size: 64px;
	margin-top: -20px;
	color: #FC9838;
}

span {
	font-size: 96px;
}

h4 {
	color: #3DC0FF;
}

.heading {
	margin-top: 10px;
}

.heading img {
	height: 12%;
	width: 12%;
}

#hangman {
	width: 60%;
}

.copy {
	color: #FC9838;
	margin: 0;
	padding-left: 700px;
}

.green {
	color: #4DE249;
}

.newgame {
	margin-bottom: 30px;
}

li {
	display: -webkit-inline-box;
}

li img {
	height: 30px;
	width: 40px;
}

#game li {
	width: 17px;
	font-size: 18px;
	margin: 7px;
	border-bottom: 2px solid white;
}

.footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.footer a:hover {
	color: #fc9838;
	text-decoration: none;
}